

{% extends "bootstrap_layout.html" %}
{% set active_page = "new_tweets" %}

{% block content %}

    <h1>Add a Twitter User</h1>

    <p>Please fill out the form and submit a twitter username (case sensitive) to add that users tweets to the database. Once in the database they will be searchable on the Make Prediction page.</p>

    <form action="/tweets/create" method="POST">

        <label>User:</label>
        <input type="text" name="User_Name" placeholder="User XYZ" value="User XYZ">
        <button>Submit</button>
    </form>

{% endblock %}
